.MatchDetailCard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;

    .matchDate, .matchVenue, .matchResult{
        margin-top: 10px;
    }
    .additionDetails{
        text-align: right;
        & > p{
            margin-bottom: 50px;
        }

    }
}
